<!DOCTYPE html >
<html th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav th:replace="~{admin/fragments/header :: header}"></nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside th:replace="~{admin/fragments/asideSidebar :: asideSidebar}"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Sửa đăng ký học</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dangkyhoc">Quản lý đăng ký học</a></li>
              <li class="breadcrumb-item active">Sửa đăng ký học</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Thêm mới đăng ký học</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form th:action="@{/admin/dangkyhoc/edit/{id}(id=${dangkyhoc.maDangKy})}" method="post" th:object="${dangkyhoc}">
              <div class="card-body">
                <input th:field="*{maDangKy}" type="hidden" class="form-control" id="MaDangKy">
                <div class="form-group">
                  <label for="mahocvien">Mã học viên</label>
                  <input th:field="*{maHocVien}" type="text" class="form-control" id="mahocvien" placeholder="Nhập mã học viên">
                </div>
                <div class="form-group">
                  <label for="malophoc">Mã lớp học</label>
                  <input th:field="*{maLopHoc}" type="text" class="form-control" id="malophoc" placeholder="Nhập mã lớp học">
                </div>

                <div class="form-group">
                  <label for="ngaydangky">Ngày đăng ký</label>
                  <input th:field="*{ngayDangKy}"  th:value="${#temporals.format(ngayDangKy, 'yyyy-MM-dd')}" type="datetime-local"  class="form-control" id="ngaydangky" placeholder="Chọn ngày đăng ký">
                </div>
                <div class="form-group">
                  <label for="trangthai">Chọn trạng thái</label>
                  <select th:field="*{trangThai}" id="trangthai" class="form-control">
                    <option th:value="DANG_HOC" th:text="'Đang học'"></option>
                    <option th:value="HOAN_THANH" th:text="'Hoàn thành'"></option>
                    <option th:value="HUY" th:text="'Hủy'"></option>
                  </select>
                </div>

              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>

      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer th:replace="~{admin/fragments/mainFooter :: mainFooter}"></footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:replace="~{admin/fragments/script :: script}"></div>
</body>
</html>
