<!DOCTYPE html >
<html th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav th:replace="~{admin/fragments/header :: header}"></nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside th:replace="~{admin/fragments/asideSidebar :: asideSidebar}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Xem chi tiết đăng ký học</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/dangkyhoc">Quản lý đăng ký học</a></li>
                            <li class="breadcrumb-item active">Xem chi tiết đăng ký học</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thêm mới đăng ký học</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->

                        <div th:object="${dangkyhoc}">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="maHocVien">Mã học viên: </label>
                                    <p id="maHocVien" th:text="*{maHocVien}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="maLopHoc">Mã lớp học: </label>
                                    <p id="maLopHoc" th:text="*{maLopHoc}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="ngayDangKy">Ngày đăng ký: </label>
                                    <p id="ngayDangKy" th:text="${#temporals.format(dangkyhoc.ngayDangKy, 'yyyy-MM-dd HH:ss')}"></p>
                                </div>

                                <div class="form-group">
                                    <label for="trangThai">Trạng thái: </label>
                                    <p id="trangThai" th:text="*{trangThai.getDisplayName}"></p>

                                 <div class="form-group">
                                     <a th:href="@{/admin/dangkyhoc/edit/{id}(id=${dangkyhoc.maDangKy})}" class="btn btn-warning">Sửa</a>
                                     <a th:href="@{/admin/dangkyhoc/delete/{id}(id=${dangkyhoc.maDangKy})}" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');">Xóa</a>
                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
    <footer th:replace="~{admin/fragments/mainFooter :: mainFooter}"></footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:replace="~{admin/fragments/script :: script}"></div>
</body>
</html>
