
<!doctype html>
<html lang="en">
<meta charset="utf-8"/>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <style>
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px; /* Điều chỉnh chiều cao logo */
        }

        .logo img {
            max-width: 100%;  /* Giữ kích thước hợp lý */
            max-height: 80px; /* Giới hạn chiều cao */
            object-fit: contain; /* Giữ tỷ lệ hình ảnh */
        }

    </style>
    <meta name="_token" content="95blvwaxWzbPKqywJE4b5NBnmV8DFpbQCA2LitFy">
    <title>Tuyển sinh tại trung tâm Anh ngữ Valorant</title>
    <meta name="description" content="Tuyển sinh tại trung tâm Anh ngữ Valorant"/>
    <meta name="keywords" content="Tuyển sinh tại trung tâm Anh ngữ Valorant"/>

    <meta property="og:type" content="website"/>
    <meta property="og:description"  content="Tuyển sinh tại trung tâm Anh ngữ Valorant"/>
    <meta property="og:title"  content="Tuyển sinh tại trung tâm Anh ngữ Valorant"/>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/home/css/style.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<head>
    <link href="https://thongnhatedu.com/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/css/jquery.mmenu.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="https://thongnhatedu.com/css/toastr.min.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/css/stickytooltip.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/css/style-call.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/css/style.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/css/main.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/css/comment.css" rel="stylesheet">
    <link href="https://thongnhatedu.com/frontend/css/responsive.css" rel="stylesheet">
</head>
<body>
<!-- ======= Header ======= -->
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container  text-center">
        Trụ sở chính: Số 28A, Lê Trọng Tấn, Hà Đông, Thành Phố Hà Nội, Việt Nam
    </div>
</section>
<header class="d-flex align-items-center header ">
    <div id="nav-mobile" class="nav-mobile">
        <div class="icon_pr_mb">
            <a href="#menu" title="Menu category">
                <i class="bi bi-list"></i>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 "
            >

                <div class="logo">
                    <a href="/">
                        <img class="img-fluid"  src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/472829657_1041971451277805_6604753472921529432_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEG4aetTUFPM6nn0Q-5ug_HEFWMMciz7hkQVYwxyLPuGVEohjQq0G9zUySZ21Y2Gg8BwVhPrjlyNtx3aSlhG0pu&_nc_ohc=FggWcCyANpAQ7kNvgHKWHOl&_nc_oc=AdjjNfORpQAALca5Uq7UM-DQN1mM8wbFCROzOEWaBm7tQ5v3EwHbulkrxhWe-NyWsN-JPMIcd8SQugkTmOY3t-Hq&_nc_zt=23&_nc_ht=scontent.fhan15-2.fna&_nc_gid=AciBBl7vQXZ-mhNNOI9MOl8&oh=00_AYCNTOXK73B1iZZLqXhmlo49wSRbbgJ3jGn3P8oYZBEd5A&oe=67CDBE15">
                    </a>
                </div>
            </div>
            <div class="col-xl-9  col-md-9 col-sm-9 ">

                <div class="row group-info-header">
                    <div class="col-md-5 col-sm-6">
                        <div class="slogan_header">Trung tâm Ngoại ngữ <span>Valorant </span></div>
                    </div>
                    <div class="col-md-4 col-sm-3">
                        <div class="col-search">
                            <form method="get" action="">
                                <div class="input-group search-box">
                                    <input type="search" name="keyword" placeholder="Tìm kiếm khóa học"
                                           aria-describedby="button-addon3"
                                           class="form-control bg-none border-0">
                                    <div class="input-group-append border-0">
                                        <button id="button-addon3" type="submit" class="btn btn-link">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="hotline_header">
                            <img src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/472829657_1041971451277805_6604753472921529432_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEG4aetTUFPM6nn0Q-5ug_HEFWMMciz7hkQVYwxyLPuGVEohjQq0G9zUySZ21Y2Gg8BwVhPrjlyNtx3aSlhG0pu&_nc_ohc=FggWcCyANpAQ7kNvgHKWHOl&_nc_oc=AdjjNfORpQAALca5Uq7UM-DQN1mM8wbFCROzOEWaBm7tQ5v3EwHbulkrxhWe-NyWsN-JPMIcd8SQugkTmOY3t-Hq&_nc_zt=23&_nc_ht=scontent.fhan15-2.fna&_nc_gid=AqU0unO3yqrpmYhbvGiJOTI&oh=00_AYBwxkfnuOCpd9VXjMa3EZQ3YT4zauMyxCjjzI-HBIiA_Q&oe=67CD85D5" width="30">
                            <span>0866983529</span>
                        </div>
                    </div>
                </div>
                <div class="menu_bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 position-relative">
                                <nav id="navbar" class="navbar">
                                    <ul>
                                        <li><a href="/"><h2>Trang chủ</h2></a></li>
                                        <li class="dropdown" ><a href=""><h2>Về chúng tôi</h2> </a>
                                            <ul>
                                                <li class="dropdown"><a href=""><h3>Giáo viên nước ngoài và những người bạn</h3></a>
                                                </li>
                                                <li class="dropdown"><a href=""><h3>Học sinh của chúng tôi</h3></a>
                                                </li>
                                            </ul>
                                        </li>


                                        <li class="dropdown" ><a href=""><h2>Tin tức - Sự kiện</h2> </a>
                                        </li>


                                        <li class="dropdown" ><a href=""><h2>Tuyển sinh</h2> </a>
                                            <ul>
                                                <li class="dropdown"><a href=""><h3>Tuyển sinh</h3></a>
                                                </li>
                                                <li class="dropdown"><a href=""><h3>Đăng kí học thử</h3></a>
                                                </li>
                                            </ul>
                                        </li>


                                        <li class="dropdown" ><a href=""><h2>Học liệu</h2> </a>
                                        </li>

                                        <li class="dropdown" ><a href=""><h2>Liên hệ</h2> </a>
                                        </li>
                                    </ul>
                                </nav><!-- .navbar -->
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header><!-- End Header -->








<main id="main" class="">




    <div id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Trang chủ</a></li>
                <li><h1>Tuyển sinh</h1></li>
            </ol>
        </div>
    </div><!-- End Breadcrumbs -->


    <div class="main-content blog">
        <div class="container">
            <p class="pageName">Tuyển sinh</p>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">

                        <div class="col-md-9 order-first ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="entry-content sapo">


                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <a title="THÔNG BÁO KHAI GIẢNG CLASS KINDER 1A1"
                                       href="#">
                                        <div class="box-news">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="img">
                                                        <img class="img-fluid"
                                                             src="https://thongnhatedu.com/storage/photos/TinTuc/2212023/Picture1.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-sm-12">
                                                    <div class="info">
                                                        <div class="name"><h3>THÔNG BÁO KHAI GIẢNG CLASS KINDER 1A1</h3></div>
                                                        <p>
                                                            <span class="read-more">[ Xem thêm ]</span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-12 col-12">
                                    <a title="KHAI GIẢNG VÀ TUYỂN SINH LỚP MỚI CHÀO HÈ 2023"
                                       href="https://localhost:8080/khai-giang-va-tuyen-sinh-lop-moi-chao-he-2023.html">
                                        <div class="box-news">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="img">
                                                        <img class="img-fluid"
                                                             src="https://thongnhatedu.com/storage/photos/TinTuc/thang5/Picture1.png">
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-sm-12">
                                                    <div class="info">
                                                        <div class="name"><h3>KHAI GIẢNG VÀ TUYỂN SINH LỚP MỚI CHÀO HÈ 2023</h3></div>
                                                        <p>
                                                            <span class="read-more">[ Xem thêm ]</span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-12 col-12">
                                    <a title="Khai giảng và tuyển sinh tháng 2.2023!"
                                       href="https://localhost:8080/khai-giang-va-tuyen-sinh-thang-2-2023.html">
                                        <div class="box-news">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="img">
                                                        <img class="img-fluid"
                                                             src="https://thongnhatedu.com/storage/photos/2018/GGG.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-sm-12">
                                                    <div class="info">
                                                        <div class="name"><h3>Khai giảng và tuyển sinh tháng 2.2023!</h3></div>
                                                        <p>
                                                            <span class="read-more">[ Xem thêm ]</span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mt-3">

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="sidebar">

                                <div class="sidebar-box">
                                    <div class="title-block-news">
                                        <h3 class="sidebar-title">
                                            <i class="icons icon-news"></i>
                                            TIN TỨC
                                        </h3>
                                    </div>
                                    <div class="is-divider small"></div>
                                    <div class="sidebar-item recent-posts">
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/TinTuc/thang5/Picture1.png" alt="">
                                            <h4><a href="https://localhost:8080/tin-thong-bao-khai-giang-class-kinder-1a1.html"
                                                   title="THÔNG BÁO KHAI GIẢNG CLASS KINDER 1A1">THÔNG BÁO KHAI GIẢNG CLASS KINDER 1A1</a></h4>

                                            <time datetime="2020-01-01">09-05-2023 18:35:20</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/TinTuc/thang4/Picture1.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-khai-giang-va-tuyen-sinh-lop-moi-chao-he-2023.html"
                                                   title="KHAI GIẢNG VÀ TUYỂN SINH LỚP MỚI CHÀO HÈ 2023">KHAI GIẢNG VÀ TUYỂN SINH LỚP MỚI CHÀO HÈ 2023</a></h4>

                                            <time datetime="2020-01-01">27-04-2023 14:51:58</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/TinTuc/3202023/Picture1.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-thong-nhat-va-ngay-hoi-tieng-anh-tai-truong-tieu-hoc-tran-phu.html"
                                                   title="Thống Nhất và Ngày hội Tiếng Anh tại Trường Tiểu học Trần Phú">Thống Nhất và Ngày hội Tiếng Anh tại Trường Tiểu học Trần Phú</a></h4>

                                            <time datetime="2020-01-01">20-03-2023 17:17:51</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/TinTuc/3162023/z4186945330016_af606c4778cfaaf71a04efeee48b254f.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-phoi-hop-to-chuc-chuong-trinh-ngoai-khoa-giao-luu-tieng-anh-voi-truong-tieu-hoc-dinh-ke.html"
                                                   title="Phối hợp tổ chức chương trình ngoại khóa, giao lưu tiếng Anh với Trường Tiểu học Dĩnh Kế">Phối hợp tổ chức chương trình ngoại khóa, giao lưu tiếng Anh với Trường Tiểu học Dĩnh Kế</a></h4>

                                            <time datetime="2020-01-01">16-03-2023 18:40:32</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/TinTuc/1182023/Picture1.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-cung-thong-nhat-tim-hieu-nhung-cach-tu-luyen-tieng-anh-hieu-qua.html"
                                                   title="Cùng Thống Nhất tìm hiểu những cách TỰ LUYỆN tiếng Anh hiệu quả">Cùng Thống Nhất tìm hiểu những cách TỰ LUYỆN tiếng Anh hiệu quả</a></h4>

                                            <time datetime="2020-01-01">18-01-2023 16:00:10</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/TinTuc/z3955684821694_3803cdab8e696a129373d76a7e3f647b.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-trung-tam-ngoai-ngu-thong-nhat-phat-dong-cuoc-thi-viet-thu-cho-ong-gia-noel.html"
                                                   title="Trung tâm Ngoại ngữ Thống Nhất phát động CUỘC THI VIẾT THƯ CHO ÔNG GIÀ NOEL">Trung tâm Ngoại ngữ Thống Nhất phát động CUỘC THI VIẾT THƯ CHO ÔNG GIÀ NOEL</a></h4>

                                            <time datetime="2020-01-01">13-12-2022 22:23:52</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/ngoaikhoa/7b09d6d04d9b4aa3b3981f07c781006a-0.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-merry-christmas.html"
                                                   title="Merry christmas">Merry christmas</a></h4>

                                            <time datetime="2020-01-01">02-12-2022 10:03:48</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/ngoaikhoa/2.png" alt="">
                                            <h4><a href="https://localhost:8080/tin-chuong-trinh-ngoai-khoa-giao-luu-tieng-anh-voi-truong-tieu-hoc-dinh-ke.html"
                                                   title="Chương trình ngoại khóa, giao lưu tiếng Anh với Trường Tiểu học Dĩnh Kế">Chương trình ngoại khóa, giao lưu tiếng Anh với Trường Tiểu học Dĩnh Kế</a></h4>

                                            <time datetime="2020-01-01">01-12-2022 16:28:27</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/2018/GGG.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-tuyen-giao-vien-tro-giang.html"
                                                   title="Tuyển giáo viên trợ giảng">Tuyển giáo viên trợ giảng</a></h4>

                                            <time datetime="2020-01-01">25-11-2022 21:24:23</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/2018/RO.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-nen-hoc-tieng-anh-tu-khi-nao.html"
                                                   title="Nên học tiếng Anh từ khi nào?">Nên học tiếng Anh từ khi nào?</a></h4>

                                            <time datetime="2020-01-01">16-11-2022 15:32:25</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/2018/2.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-loi-ich-hoc-tieng-anh-giao-tiep-voi-giao-vien-ban-ngu.html"
                                                   title="Lợi ích học tiếng anh giao tiếp với giáo viên bản ngữ">Lợi ích học tiếng anh giao tiếp với giáo viên bản ngữ</a></h4>

                                            <time datetime="2020-01-01">16-11-2022 15:32:04</time>
                                        </div>
                                        <div class="post-item clearfix">
                                            <img src="https://thongnhatedu.com/storage/photos/2018/MAU.jpg" alt="">
                                            <h4><a href="https://localhost:8080/tin-tuyen-giao-vien-ban-ngu.html"
                                                   title="Tuyển giáo viên bản ngữ">Tuyển giáo viên bản ngữ</a></h4>

                                            <time datetime="2020-01-01">16-11-2022 15:31:55</time>
                                        </div>
                                    </div><!-- End sidebar recent posts-->
                                </div>

                            </div><!-- End sidebar -->

                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</main>
<footer id="footer">
    <div class="footer-top">

        <div class="footer-new">
            <div class="container">
                <div class="row">


                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="list_info">
                            <a href="#">
                                <b class="font16 head">Về chúng tôi</b>
                            </a>
                        </div>

                        <p class="mb-2">
                            <i class="bi bi-phone"></i>
                            <strong>Hotline :</strong> 08666983529
                        </p>


                        <p class="mb-2">
                            <i class="bi bi-envelope"></i>
                            <strong>Email :</strong> anhnguvalorant@gmail.com
                        </p>

                        <p class="mb-2">
                            <i class="bi bi-facebook"></i>
                            <strong>Fanpage :</strong> <a href="https://www.facebook.com/profile.php?id=100087641695581&amp;mibextid=ZbWKwL">Click fanpage</a>
                        </p>

                        <p class="mb-4">
                            <i class="bi bi-pin-map-fill"></i>
                            <strong>Địa chỉ :</strong>  Số 28A, Lê Trọng Tấn, Hà Đông, Thành Phố Hà Nội, Việt Nam








                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="list_info">
                            <a href="https://localhost:8080/tin-tuc-su-kien">
                                <b class="font16 head">Tin tức - Sự kiện</b>
                            </a>
                            <a title="Trung tâm Ngoại ngữ Thống Nhất phối hợp tổ chức Hội thi &quot;Bé khỏe đẹp, tài năng tiếng Anh” cấp trường năm học 2024-2025"
                               href="https://localhost:8080/trung-tam-ngoai-ngu-thong-nhat-phoi-hop-to-chuc-hoi-thi-be-khoe-dep-tai-nang-tieng-anh%E2%80%9D-cap-truong-nam-hoc-2024-2025.html"
                               rel="nofollow">Trung tâm Ngoại ngữ Thống Nhất phối hợp tổ chức Hội thi &quot;Bé khỏe đẹp, tài năng tiếng Anh” cấp trường năm học 2024-2025</a>
                            <a title="Ngày hội tiếng Anh – Bé vui đón xuân 2025 tại Trường Mầm non Thị trấn Vôi số 1"
                               href="https://localhost:8080/ngay-hoi-tieng-anh-%E2%80%93-be-vui-don-xuan-2025-tai-truong-mam-non-thi-tran-voi-so-1.html"
                               rel="nofollow">Ngày hội tiếng Anh – Bé vui đón xuân 2025 tại Trường Mầm non Thị trấn Vôi số 1</a>
                            <a title="Chú trọng nâng cao chất lượng cho trẻ mẫu giáo làm quen với tiếng Anh"
                               href="https://localhost:8080/chu-trong-nang-cao-chat-luong-cho-tre-mau-giao-lam-quen-voi-tieng-anh.html"
                               rel="nofollow">Chú trọng nâng cao chất lượng cho trẻ mẫu giáo làm quen với tiếng Anh</a>
                            <a title="Nên dạy tiếng Anh cho trẻ từ mấy tuổi?"
                               href="https://localhost:8080/nen-day-tieng-anh-cho-tre-tu-may-tuoi.html"
                               rel="nofollow">Nên dạy tiếng Anh cho trẻ từ mấy tuổi?</a>
                            <a title="Ngày hội tiếng Anh cùng Trường Tiểu học Dĩnh Kế"
                               href="https://localhost:8080/ngay-hoi-tieng-anh-cung-truong-tieu-hoc-dinh-ke.html"
                               rel="nofollow">Ngày hội tiếng Anh cùng Trường Tiểu học Dĩnh Kế</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="list_info">
                            <a href="https://localhost:8080/tuyen-sinh-tuyen-dung">
                                <b class="font16 head">Tuyển sinh/ Tuyển dụng</b>
                            </a>
                            <a title="THÔNG BÁO KHAI GIẢNG CLASS KINDER 1A1"
                               href="https://localhost:8080/thong-bao-khai-giang-class-kinder-1a1.html"
                               rel="nofollow">THÔNG BÁO KHAI GIẢNG CLASS KINDER 1A1</a>
                            <a title="Khai giảng và tuyển sinh tháng 2.2023!"
                               href="https://localhost:8080/khai-giang-va-tuyen-sinh-thang-2-2023.html"
                               rel="nofollow">Khai giảng và tuyển sinh tháng 2.2023!</a>
                            <a title="Tuyển giáo viên trợ giảng"
                               href="https://localhost:8080/tuyen-giao-vien-tro-giang.html"
                               rel="nofollow">Tuyển giáo viên trợ giảng</a>
                            <a title="Tuyển giáo viên bản ngữ"
                               href="https://localhost:8080/tuyen-giao-vien-ban-ngu.html"
                               rel="nofollow">Tuyển giáo viên bản ngữ</a>
                        </div>
                    </div>



                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="container">
                <div class="row ">
                    <div class="col-md-3 col-sm-3 ">
                        <div class="logo_footer">
                            <a href="/"><img class="img-fluid"
                                             src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/472829657_1041971451277805_6604753472921529432_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEG4aetTUFPM6nn0Q-5ug_HEFWMMciz7hkQVYwxyLPuGVEohjQq0G9zUySZ21Y2Gg8BwVhPrjlyNtx3aSlhG0pu&_nc_ohc=FggWcCyANpAQ7kNvgHKWHOl&_nc_oc=AdjjNfORpQAALca5Uq7UM-DQN1mM8wbFCROzOEWaBm7tQ5v3EwHbulkrxhWe-NyWsN-JPMIcd8SQugkTmOY3t-Hq&_nc_zt=23&_nc_ht=scontent.fhan15-2.fna&_nc_gid=AyCLWVruZBGS0OtY0op3bf1&oh=00_AYC-n_ecPY7S5XjmwRa_z44JcFzcN1O9x_v484sHpNzVkQ&oe=67CDBE15"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 ">
                        <div class="footer-company">
                            <p class="text-left">
                                Bản quyền thuộc Trung tâm Ngoại ngữ Valorant
                                Thành lập theo Quyết định số 188/QĐ-SGDĐT của Sở Giáo dục và Đào tạo Hà Nội
                                Quyết định cho phép hoạt động đào tạo và bồi dưỡng Ngoại ngữ số 234/QĐ-SGDĐT của Sở Giáo dục và Đào tạo Hà Nội
                                Địa chỉ/Address: Số 28A, Lê Trọng Tấn, Hà Đông, Thành Phố Hà Nội, Việt Nam
                                Số điện thoại/Phone number: 0866983529;
                                Email: anhnguvalorant@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<nav id="menu">
    <ul>
        <li><a href="/"><h2>Trang chủ</h2></a></li>







        <li><a href="#"><h2>Về chúng tôi</h2></a>
            <ul>
                <li class="dropdown"><a href="#"><h3>Giáo viên nước ngoài và những người bạn</h3></a>
                </li>
                <li class="dropdown"><a href="#"><h3>Học sinh của chúng tôi</h3></a>
                </li>
            </ul>
        </li>



        <li><a href="https://localhost:8080/tin-tuc-su-kien"><h2>Tin tức - Sự kiện</h2></a>
        </li>



        <li><a href=""><h2>Tuyển sinh/ Tuyển dụng</h2></a>
            <ul>
                <li class="dropdown"><a href=""><h3>Tuyển sinh</h3></a>
                </li>
                <li class="dropdown"><a href=""><h3>Tuyển dụng</h3></a>
                </li>
                <li class="dropdown"><a href=""><h3>Đăng kí học thử</h3></a>
                </li>
            </ul>
        </li>
        <li><a href=""><h2>Học liệu</h2></a>
        </li>

        <li><a href=""><h2>Liên hệ</h2></a>
        </li>
    </ul>
</nav>


<div class="modal fade" id="modalSearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="https://localhost:8080/tim-kiem.html" method="get" class="wrap-form form-modal-search">
                    <div class="form-group m-0">
                        <div class="input-group mb-3">
                            <input type="text" name="keyword" value=""
                                   class="form-control" placeholder="Trung tâm duy nhất tại Bắc Giang với 100% giáo viên Anh, Mỹ và các nước bản ngữ
Dạy tiếng Anh giao tiếp cho mọi lứa tuổi
Liên kết giảng dạy tại các trường">
                            <button type="submit" class="btn btn-primary">
                                Search
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="desktop-sticky-bar-list">
    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#registerForm">Đăng ký học</a>
</div>


<div class="modal fade modal-auth registerInfo" id="registerForm" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="footer-newsletter">
                    <div class="col-lg-12 text-left">
                        <h4>ĐĂNG KÝ TƯ VẤN MIỄN PHÍ</h4>
                        <p class="text">Hãy để lại thông tin liên hệ, Valorant sẽ liên hệ và tư vấn cho bạn tận tình</p>
                        <form action="http://localhost:8080/lien-he" method="post" role="form" id="create_form"
                              class="php-email-form">
                            <input type="hidden" name="_token" value="95blvwaxWzbPKqywJE4b5NBnmV8DFpbQCA2LitFy">                                                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" required name="name" class="form-control" id="name" placeholder="Họ tên">
                                <input type="hidden" required name="title" value="Đăng ký tư vấn miễn phí">
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">

                                <input type="text" required class="form-control" name="phone" id="phone"
                                       placeholder="Số điện thoại">
                            </div>
                        </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                            </div>


                            <div class="form-group mt-3">
                                <textarea class="form-control" name="content" rows="3" placeholder="Nội dung"></textarea>
                            </div>

                            <p class="text mt-3">
                                Bằng việc đăng ký thông tin, bạn cho phép Trung Tâm liên lạc thông qua cuộc gọi, tin nhắn, email để tư vấn các chương trình, khóa học tiếng Anh và nghiên cứu thị trường
                            </p>

                            <div class="text-center mt-3">
                                <button class="btn btn-danger" type="submit">Gửi tin nhắn</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Vendor JS Files -->

    <script src="https://thongnhatedu.com/frontend/vendor/aos/aos.js"></script>
    <script src="https://thongnhatedu.com/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://thongnhatedu.com/frontend/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="https://thongnhatedu.com/frontend/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
<script src="https://thongnhatedu.com/frontend/js/jquery.min.js"></script>
    <script src="https://thongnhatedu.com/frontend/js/jquery.mmenu.js"></script>
    <script src="https://thongnhatedu.com/fancybox/jquery.fancybox.min.js"></script>
    <script src="https://thongnhatedu.com/frontend/js/address.js"></script>
    <script src="https://thongnhatedu.com/frontend/js/main.js"></script>
    <script src="https://thongnhatedu.com/frontend/js/stickytooltip.js"></script>


<script>

    var mobileItems = document.querySelectorAll('#slide-out .nav-mobile-menu .main-menu li.menu-item-has-children');
    [].forEach.call(mobileItems, function (el) {
        var i = document.createElement('i');
        i.setAttribute('class', 'mobile-arrows bi bi-chevron-down');
        el.appendChild(i);
    });

    var li_i = document.querySelectorAll('li.menu-item-has-children i.mobile-arrows');
    [].forEach.call(li_i, function (el) {
        el.addEventListener('click', function () {
            if (this.className.indexOf('bi-chevron-down') != -1) {
                this.classList.remove("bi-chevron-down");
                this.classList.add("bi-chevron-up");
            } else {
                this.classList.remove("bi-chevron-up");
                this.classList.add("bi-chevron-down");
            }

            var ul = this.parentNode.querySelectorAll('ul')[0];
            ul.style.display = ul.offsetParent === null ? 'block' : 'none';

        });
    });

    function removeItemCart(anchor)
    {
        var conf = confirm('Bạn có muốn sản phẩm khỏi giỏ hàng ?');
        if(conf)
            window.location=anchor.attr("href");
    }

</script>




</body>

</html>
