<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>VALORANT</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.3/skins/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box p-5" style="background-color: white">
    <div class="login-logo">
        <a href="/"><b>VALORANT</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Đăng nhập trang web VALORANT</p>

        <!-- Hiển thị thông báo lỗi nếu đăng nhập thất bại -->
        <div th:if="${param.error}" class="alert alert-danger">
            Tên đăng nhập hoặc mật khẩu không đúng!
        </div>
        <!-- Hiển thị thông báo khi đăng xuất -->
        <div th:if="${param.logout}" class="alert alert-success">
            Bạn đã đăng xuất thành công!
        </div>
        <!-- Hiển thị thông báo lỗi từ manual login -->
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <!-- Form kiểm tra thủ công -->
        <form th:action="@{/manual-login}" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="tendangnhap" placeholder="Tên đăng nhập" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="matkhau" placeholder="Mật khẩu" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row mb-2">
                <div class="col-xs-4 float-end">
                    <button type="submit" class="btn btn-success btn-block btn-flat">Đăng nhập (Thủ công)</button>
                </div>
            </div>
        </form>

        <a href="#">Quên mật khẩu</a><br>
        <a href="/register" class="text-center">Đăng ký tài khoản mới</a>
    </div>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.3/icheck.min.js"></script>
</body>
</html>