<aside th:fragment="asideSidebar" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="/assets/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ADMIN</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">HOANG VAN KHAI</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="/admin" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="/admin/dangkyhoc" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Quản lý đăng ký học
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/giangvien" class="nav-link">
                        <i class="nav-icon fas fa-board"></i>
                        <p>
                            Quản lý giảng viên
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/hocvien" class="nav-link">
                        <i class="nav-icon fas fa-board"></i>
                        <p>
                            Quản lý học viên
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/khoahoc" class="nav-link">
                        <i class="nav-icon fas fa-board"></i>
                        <p>
                            Quản lý khóa học
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/lophoc" class="nav-link">
                        <i class="nav-icon fas fa-board"></i>
                        <p>
                            Quản lý lớp học
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/nguoidung" class="nav-link">
                        <i class="nav-icon fas fa-board"></i>
                        <p>
                            Quản lý người dùng
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/thanhtoan" class="nav-link">
                        <i class="nav-icon fas fa-board"></i>
                        <p>
                            Quản lý thanh toán
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>